go 1.25.0

use (
	./orion-go-common
	./orion-api-gateway-go
	./orion-auth-svc
	./orion-user-svc
	./orion-ai-svc-go
	./orion-approval-svc-go
	./orion-artifact-svc-go
	./orion-ci-cd-svc-go
	./orion-cmdb-svc-go
	./orion-community-svc-go
	./orion-config-mgmt-svc-go
	./orion-event-bus-svc-go
	./orion-finops-svc-go
	./orion-governance-svc-go
	./orion-identity-svc-go
	./orion-infra-ops-svc-go
	./orion-incident-svc-go
	./orion-inspection-svc-go
	./orion-knowledge-svc-go
	./orion-lowcode-svc-go
	./orion-monitor-svc-go
	./orion-monitoring-svc-go
	./orion-notification-svc-go
	./orion-pandawiki-svc-go
	./orion-platform-svc-go
	./orion-security-svc-go
	./orion-skill-config-svc-go
	./orion-tenant-svc-go
	./orion-ticket-svc-go
	./orion-tool-svc-go
	./orion-visor-svc-go
	./orion-workflow-svc-go
)
