go 1.25.0

use (
	./orion-go-common
	./orion-auth-svc
	./orion-tenant-svc
	./orion-user-svc
	./orion-api-gateway-go
	./orion-pipeline-svc-go
	./orion-build-svc-go
	./orion-deploy-svc-go
	./orion-ticket-svc-go
	./orion-cmdb-svc-go
	./orion-monitor-svc-go
	./orion-approval-svc-go
	./orion-canary-svc-go
)
