@font-face {
  font-family: 'G';
  src: url('./gilroy-bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'G';
  src: url('./gilroy-medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'G';
  src: url('./gilroy-regular.otf');
  font-weight: normal;
  font-style: normal;
}
